/*Default-Mobile */
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    background-color: #1e1e1e;
    font-family: inter, sans-serif;
}

body.no-scroll {
    overflow: hidden
}

/* Navbar */
.navbar {
    display: flex;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0%;
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}


.navbar-container .navbar-menu li a:hover {
    border-bottom: 2px solid #3cff3c;
}

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;

}

.navbar-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #3cff3c;
    transition: all 0.3s ease-in-out;
}

.menu-btn {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 100;
}

@media(max-width:768px) {
    .navbar {
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu li a {
        color: #3cff3c;
    }

    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0%;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        color: #3cff3c;
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-container .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}












.logo {
    height: 50px;
    width: 120px;
    margin-left: 8px;
}

.logo img {
    width: 100%;
    height: 100%
}

.logo:hover {
    transform: scale(1.08);
    transition: all o, 3s ease;
}

.nav-links {
    list-style: none;
    font-size: 2rem;
    font-weight: 400;
    display: none;
    padding: 0;
    flex-direction: column;
    position: absolute;
    top: 0%;
    height: 100%;
    width: 60vw;
    background: red;
    right: 0;

}

.nav-links ul li {
    background-color: red;
}

.nav-links a {
    color: #00c951;
    text-decoration: none;
    padding: 12px 0;
}

.registeration1 {
    display: none;
}

.nav-links.active {
    display: flex;
    height: 100%;
    background-color: red;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: start;
    margin: 0 auto;
    background: black;
}

.hero-left p {
    font-size: 0.7rem;
    color: #c1c6c1;
    text-align: center;
}

.hero-left,
.hero-right {
    width: 50%;
    margin-top: 0;
}


#vidyut {
    font-size: 6.5vw;

    padding-top: 15px;
    margin: 0;
    color: #03e05c;
    text-align: center;

}

#opportunity {
    color: #3cff3c;
    text-align: center;
    padding-top: 4px;
    font-size: 1rem;
}

.registeration2 {
    background-color: #00c951;
    color: #0b0f0b;
    width: 120px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: 500;
    box-shadow: 0 0 8px rgba(145, 183, 151, 0.823);
    font-family: inter, sans-serif;
    padding: 2px;
    margin: 16px auto;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

/* Hero Animation */

.orbit-container {
    max-width: 100px;
    border-radius: 50%;
    position: relative;

    margin: 0 auto;

    object-fit: cover;
    animation: spin 6s linear infinite;
}

.core {
    height: 40px;
    width: 40px;
    border: 2px solid #6bff6b;
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 5;
    animation: rotate 6s linear infinite;
    letter-spacing: 1px;
    flex-wrap: wrap;
    font-size: 0.4rem;
    color: #f3fff3;
    box-shadow: 0 0 15px rgba(107, 255, 107, 0.35);
    background: radial-gradient(circle at top left, #3cff3c, #0b1a0b 65%);
}

.event {
    height: 40px;
    width: 40px;
    font-size: 0.4rem;

    border: 1.5px solid #6bff6b;
    box-shadow: 0 0 8px rgba(107, 255, 107, 0.35);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background: radial-gradient(circle at top, #148914, #0b0f0b);
    align-items: center;
    margin: auto;
    text-align: center;
    position: relative;
    animation: rotate 6s linear infinite;
    letter-spacing: 1px;
    flex-wrap: wrap;
}

.core a,
.event a {
    text-decoration: none;
    color: #f3fff3;
}

.e1 {
    top: 32px;
}

.e2 {
    right: 50px;
    top: 40px;
}

.e3 {
    left: 50px;
    bottom: 40px;
}

.e4 {
    bottom: 32px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* About Vidyut */

.about {
    display: flex;
    flex-direction: column;
    margin: 16px auto;
    justify-content: space-between;
}

#banner {
    width: 90%;
    margin: 8px auto;
}

#banner img {
    width: 100%;
    border-radius: 8px;
    height: 50vw;
    object-fit: cover;
    box-shadow: 0 0 8px rgba(107, 255, 107, 0.35);
}

h1 {
    padding-left: 8px;
    font-size: 1.8rem;
}

h1 :first-child {
    color: #f3fff3;
}

h1 :last-child {
    color: #3cff3c;
}

.about p {
    padding-left: 8px;
    margin-top: 0;
    font-size: 1.2rem;
    color: #c1c6c1;

}

/* Event Section */

.event-overview {
    margin-top: 32px;
}

.cards-box {
    display: flex;
    flex-direction: column;
}

.event-overview h1 {
    margin-bottom: 16px;
}

.events {
    max-width: 80%;
    font-size: 1rem;
    margin: 10px auto;
    border: 1px solid rgba(0, 255, 120, 0.3);
    border-radius: 12px;
    background: rgba(15, 25, 20, 0.6);
    box-shadow: 0 0 6px rgba(107, 255, 107, 0.35);
}

.events img {
    width: 100%;
}

h2 {
    color: #f3fff3;
    font-size: 1.5rem;
    text-align: center;
}

.info {
    color: #f9f9fcd4;
    padding: 3px;
}


/* Highlights Section */

.highlights {
    margin-top: 32px;
}

.pannel {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 12px;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 18px auto 8px auto;
    border: 1px solid gray;
}

.photo img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
}

.name {
    font-size: 1.2rem;
    color: #f3fff3;
    text-align: center;
    margin-bottom: 8px;
}

.position {
    font-size: 0.85rem;
    color: #3cff3c;
    text-align: center;
    margin-bottom: 8px;
}

.place {
    font-size: 0.85rem;
    color: #d1d5dcc7;
    text-align: center;
    margin-bottom: 8px;
}

.experts {
    margin: 0 auto 16px auto;
    border: 1px solid rgba(0, 255, 120, 0.3);
    width: 75%;
    border-radius: 8px;
}

/* Carousel Track */

.carousel {
    width: 100%;
    overflow: hidden;
    padding: 0 0;
}

.carousel-track {
    display: flex;
    gap: 25px;
    animation: scroll 25s linear infinite;
    width: max-content;
}

.car-logos img {
    width: 100px;
    height: 60px;
    border-radius: 8px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }

}

.car-logos {
    width: 100px;
    height: 60px;
}

/* FAQs */

.faq {
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
    font-family: Inter, sans-serif;
}

.faq-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 8px;
    color: #f3fff3
}

.faq-title span {
    color: #3cff3c;
}

.faq-span {
    font-size: 1.5rem;
    color: #c1c6c1;
    text-align: center;
    margin: 0 auto 48px auto;

}

.faq-item {
    background: #111;
    margin-bottom: 15px;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #222;
}

.faq-question {
    padding: 18px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.faq-question:hover {
    background: #1a1a1a;
    color: #00c951;
}

.faq-answer {
    max-height: 0;
    font-size: 1.25rem;
    overflow: hidden;
    padding: 4 18px;
    color: #ccc;
    background: #1a1a1a;
    transition: max-height 0.4s ease, padding 0.3s ease;
}

.faq-item.active {
    border: 1px solid #00c950a7;
    color: #00c951;
}

.faq-item.active .faq-answer {
    max-height: 200px;
    padding: 15px 18px;
}

.icon {
    color: #00ff88;
    font-size: 22px;
    transition: 0.3s;
}

.faq-item.active .icon {
    transform: rotate(180deg);
}

/* Footer */

.footer {
    display: flex;
    padding: 24px 0 24px 12px;
    flex-direction: column;
    background-color: rgb(13, 13, 16);
    border-top: 1px solid rgb(63, 63, 98);
    border-bottom: 1px solid rgb(63, 63, 98);
}

.footer h2 {
    text-align: start;

}

.evolve {
    padding-top: 28px;
}

.evolve p {
    font-size: 0.85rem;
    color: #f9f9fcd4;
}

.quick-links {
    font-size: 1.15rem;
    color: #f3fff3;
}

.links {
    font-size: 0.85rem;
    color: #f9f9fcd4;
    margin: 12px 0;
}

.links a {
    text-decoration: none;
    color: #f9f9fcd4;
    ;
}

.media-icons {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.icons {
    width: 24px;
    height: 24px;
    border: 2px solid #089b5698;
    box-shadow: 0 0 2px #06c352;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icons img {
    width: 16px;
    height: 16px;
}

.copyright {
    color: #655e5e;
    background-color: #1e1e1e;
    margin: 24px auto;
    text-align: center;
}

/* Tablets */
@media screen and (min-width:576px) {
    html {
        font-size: 16px;
    }

    /* Hero Section */
    #vidyut {
        margin-top: 24px;
    }

    .hero-left p {
        font-size: 1rem;
    }

    .registeration2 {
        margin-top: 32px;

    }

    .core {
        width: 60px;
        height: 60px;
    }

    .event {
        width: 60px;
        height: 60px;
    }

    .e1 {
        top: 42px;
    }

    .e2 {
        right: 80px;
        top: 65px;

    }

    .e3 {
        left: 80px;
        bottom: 65px;
    }

    .e4 {
        bottom: 42px;
    }
}



/* Laptops */
@media screen and (min-width:768px) {
    html {
        font-size: 16px;
    }

    body div {
        scroll-margin-top: 90px;
    }

    /* Nav Bar */
    .navbar {
        height: 80px;
        flex-direction: row;
        justify-content: space-around;
    }

    .menu-btn {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        justify-content: center;
    }

    .nav-links li {
        font-size: 1.35rem;
        padding: 0 16px;
        font-weight: 400;
    }

    /* Hero Section */

    .registeration1 {
        background-color: #06c352;
        color: #0b0f0b;
        width: 120px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        font-weight: 600;
        font-family: inter, sans-serif;
        padding: 8px;
        font-size: 1.1rem;
        margin-top: 12px;
    }

    .registeration1:hover {
        transform: scale(1.04);
        transition: transform 0.3s ease;
        filter: blur(0);
    }

    .registeration2 {
        background-color: #06c352;
        font-size: 1.25rem;
        width: 150px;
        height: 45px;
        border-radius: 10px;
        margin-top: 32px;
    }

    .registeration2:hover {
        transform: scale(1.04);
        transition: transform 0.3s ease;
    }

    #vidyut {
        font-size: 7vw;
        text-align: center;
        padding-top: 90px;
        margin: 0;
        font-family: orbitron;
        color: #03e05c;
    }

    .hero-left p {
        font-size: 1.25rem;
    }

    #opportunity {
        padding-top: 16px;
        font-size: 2rem;
    }

    .orbit-container {
        max-width: 400px;
        position: relative;
        margin: auto;
        object-fit: cover;
    }

    .orbit-container:hover {
        animation-play-state: paused;

        .core {
            animation-play-state: paused;
            font-size: 1.2rem;
            box-shadow: 0 0 30px rgba(107, 255, 107, 0.75);
            transition: all 0.3s ease;
            cursor: pointer;
        }

        .event {
            animation-play-state: paused;
            box-shadow: 0 0 25px rgba(107, 255, 107, 0.75);
            transition: all 0.3s ease;
            cursor: pointer;
        }
    }

    .core {
        height: 110px;
        width: 110px;
        font-size: 0.85rem;
        color: #f3fff3;
        box-shadow: 0 0 15px rgba(37, 225, 37, 0.8);
        background: radial-gradient(circle at top, #015b01, #000000);
    }

    .event {
        height: 100px;
        width: 100px;
        font-size: 0.85rem;
        border: 2px solid #6bff6b;
        box-shadow: 0 0 10px rgba(107, 255, 107, 0.95);
    }

    .event:hover {
        font-size: 1rem;
        transition: all 0.3s ease;
    }

    .e1 {
        top: 52px;
    }

    .e2 {
        right: 160px;
        top: 100px;

    }

    .e3 {
        left: 160px;
        bottom: 100px;
    }

    .e4 {
        bottom: 52px;
    }

    /* About Vidyut */

    .about {
        margin: 50px auto;
        display: flex;
        flex-direction: row;
        text-align: start;
        justify-content: space-between;
        text-align: justify;
    }

    h1 {
        font-size: 3rem;
        letter-spacing: 1.5px;
    }

    .about div {
        width: 50%;
        margin-left: 8px;
    }

    .about p {
        font-size: 1.5rem;
        line-height: 35px;
        width: 90%;
    }

    #banner {
        margin: auto;
        width: 50%;
    }

    #banner img {
        height: 25vw;
        width: 90%;
        margin: auto;
    }

    /* Event Section */

    .event-overview {
        margin-top: 80px;
    }

    .event-overview h1 {
        text-align: center;
        margin-bottom: 32px;
    }

    .events {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 100%;
        margin: 16px auto;
        gap: 80px;
        border: none;
        box-shadow: none;
        background: transparent;
        margin-bottom: 80px;
    }

    .cards {
        max-width: 50%;
    }

    .cards p {
        line-height: 40px;
        font-size: 1.3rem;
        width: 100%;
    }

    .events img {
        width: 35%;
        height: 20vw;
        margin: auto auto;
        border-radius: 12px;
        box-shadow: 0 0 8px rgba(107, 255, 107, 0.35);
    }

    h2 {
        font-size: 2rem;
    }

    /* Event Highlights */

    .highlights {
        margin-top: 32px;
    }

    .highlights h1 {
        text-align: center;
    }

    .highlights h2 {
        margin-top: 0;
    }

    .pannel {
        display: flex;
        flex-direction: row;
        margin: 0 10% 70px 10%;
        gap: 10%;
    }

    .experts {
        margin: 0 auto;
        border: 1px solid rgba(0, 255, 120, 0.3);
        box-shadow: 0 0 8px #60f99d6d;
    }

    .photo img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        object-fit: cover;
    }

    .experts:hover {
        transform: translateY(-8px);
        box-shadow: 0 0 15px rgba(0, 255, 100, 0.4);
        transition: 0.4s ease;

        .photo {
            border: 2px solid#3cff3c;
        }
    }

    /* Carousel Track */

    .carousel-track {
        gap: 70px;
    }

    .car-logos {
        width: 250px;
        height: 150px;
        display: flex;
        background-color: rgba(255, 255, 255, 0.030);
        justify-content: center;
        align-items: center;
        border: 1px solid gray;
        box-shadow: 0 0 8px rgba(0, 255, 136, 0.4);
        border-radius: 12px;
    }

    .car-logos img {
        width: 150px;
        height: 100px;
    }

    /* Footer Section */

    .footer {
        flex-direction: row;
        padding: 24px 0;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }

    .evolve {
        width: 33%;
        margin: 20px;
    }

    .icons {
        width: 36px;
        height: 36px;
        border: 2px solid #089b5698;
        box-shadow: 0 0 2px #06c352;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .icons:hover {
        transform: translateY(-8px);

        transition: all 0.3s ease;
    }

    .icons img {
        width: 24px;
        height: 24px;
    }

    .media-icons {
        margin-top: 24px;
        gap: 30px;
    }

}